<md-toolbar md-dialog-title color="primary">
  Login
<span fxFlex="auto"></span>
<button md-button md-dialog-close> &times;  </button>

</md-toolbar>


<!-- no validate avoids html form validation -->
<p>{{user | json }}</p>

<form novalidate (ngSubmit)="onSubmit()">
<md-dialog-content>
<p>
  <md-input-container>
    <input mdInput placeholder="Customer Name" type="text" name ="username" [(ngModel)]="user.username" required>
  </md-input-container>

  <md-input-container>
      <input mdInput placeholder="Password" type="password" name="password" [(ngModel)] ="user.password" required>
  </md-input-container>

  <md-checkbox [(ngModel)]="user.remember" name="remember">
    Remember Me 
  </md-checkbox>
</p>
</md-dialog-content>

<md-dialog-actions>
  <span fxFlex="auto"></span>
  <button md-button md-dialog-close>Cancel</button>
  <button md-button type="submit" md-button-class="background-primary text-floral-white">Login</button>
</md-dialog-actions>


</form>